<div>
    <div id="titulo">
        <h2>Resultados {{menorDia}} até {{maiorDia}}</h2>
    </div>
<ul>
    <li><p>Jogos disputados: {{jogosDisputados}}</p></li>
    <hr>
    <li><p>Total de pontos marcados na temporada: {{totalPontos}}</p></li>
    <hr>
    <li><p>Média de pontos por jogo: {{mediaPontos}}</p></li>
    <hr>
    <li><p>Maior pontuação em um jogo: {{maiorPontuacao}}</p></li>
    <hr>
    <li><p>Menor pontuação em um jogo: {{menorPontuacao}}</p></li>
    <hr>
    <li><p>Quantidade de vezes que bateu o próprio recorde: {{qtdeBateuRecorde}}</p></li>
</ul>
    
</div>